<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">
    <font style="vertical-align: inherit;">
      <font style="vertical-align: inherit;"> Navbar </font>
        </font>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="# navbarColor03" aria-controls="navbarColor03"
    aria-expanded="false" aria-label="Alternar navegación ">
    <span class="navbar-toggler-icon"> </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor03">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> Inicio </font>
              </font>
              <span class="sr-only">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;"> (actual) </font>
                    </font>
                    </span>
        </a>
      </li>
    </ul>

    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> Login </font>
              </font>
              <span class="sr-only">
                <font style="vertical-align: inherit;">
                  <font style="vertical-align: inherit;"> (actual) </font>
                    </font>
                    </span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> Registrarse </font>
              </font>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <font style="vertical-align: inherit;">
            <font style="vertical-align: inherit;"> Salir </font>
              </font>
        </a>
      </li>
    </ul>
  </div>
</nav>